In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [56]:
#loading the dataset to pandas dataframe
credit_card_data = pd.read_csv(r'creditcard.csv')

In [57]:
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [58]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [59]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [60]:
#dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [61]:
#checking the number of missing value in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [62]:
#distribution of legit transaction & fraudulant transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# this dataset is highly unblanced. 0 represents the normal transaction and 1 represents fraudulent transaction

In [63]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [31]:
print(legit.shape(0))

TypeError: 'tuple' object is not callable

In [64]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [65]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [66]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [67]:
#compare the values for both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [72]:
#UNDER SAMPLING
#BUILD A SAMPLE DATASET CONTAINING SIMILAR DISTRIBUTION OF NORMAL TRANSACTION AND FRAUDULANT TRANSACTION
#NUMBER OF FRAUDULANT TRANSACTION I 492

legit_sample = legit.sample(n=492)   #this is for picking the sample randomly

In [73]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
270697,164214.0,2.032776,-0.046887,-1.638821,0.190064,0.487661,-0.760755,0.453853,-0.388572,0.184986,...,-0.109556,-0.193149,0.175062,0.682928,0.004142,0.487003,-0.095546,-0.057309,37.40,0
70179,53748.0,1.109028,-0.318924,1.321689,0.909741,-1.207711,-0.063292,-0.795524,0.275862,1.137323,...,-0.058684,-0.021888,0.117057,0.394095,0.084751,0.331345,0.023354,0.024254,11.50,0
235352,148351.0,2.286680,-0.754426,-1.811708,-1.075001,-0.037738,-0.583203,-0.351783,-0.209570,-0.256341,...,-0.043801,-0.172003,0.152193,0.007998,0.066444,-0.264523,-0.053400,-0.066687,10.00,0
115935,74079.0,-1.055826,1.216479,1.455981,-0.075456,-0.014696,-0.691978,0.617213,0.041084,-0.100367,...,-0.246413,-0.419849,0.134202,0.386948,-0.169353,0.091932,0.504346,0.263605,8.99,0
224999,144056.0,-1.221043,1.769340,-2.302853,-1.884605,2.858615,3.105891,0.288809,0.985962,0.980861,...,-0.514290,-1.038709,0.171835,0.569344,-0.117017,0.191543,0.879874,0.434513,2.28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223332,143337.0,2.096353,0.617821,-2.604531,1.289205,1.478590,-0.511046,0.726165,-0.350842,-0.000303,...,-0.078634,0.057818,-0.091310,-0.119382,0.622571,-0.479179,0.006771,-0.028386,1.00,0
273218,165486.0,1.463242,-1.397638,0.477884,1.535353,-0.704772,2.805064,-1.670227,0.984917,2.263262,...,0.279933,1.151963,0.008877,-1.613599,-0.355693,-0.373754,0.152257,-0.023643,137.00,0
168445,119228.0,-0.634751,0.115771,1.265288,0.263035,0.364750,0.697164,0.389932,-0.196356,-0.410527,...,-0.704377,-0.967140,-0.080930,0.602423,-0.268109,-0.774772,-0.299253,-0.140607,12.00,0
14079,25057.0,1.222646,0.548599,-0.005054,1.266393,0.297965,-0.672256,0.397355,-0.304563,0.988228,...,-0.114414,-0.001864,-0.111510,0.036830,0.756945,-0.306428,-0.019001,0.002613,8.99,0
49915,44266.0,1.145401,-0.438312,1.161416,-0.002666,-1.020009,0.312029,-0.912132,0.355106,0.898775,...,-0.048749,0.047358,0.089183,0.080979,-0.003407,1.005189,-0.022898,0.000411,1.00,0

In [74]:
#CONCATINATING TWO DATAFRAMES

new_dataset = pd.concat([legit_sample, fraud], axis=0)   #axis=0 for adding row wise and axis =1 for adding column wise

In [75]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
270697,164214.0,2.032776,-0.046887,-1.638821,0.190064,0.487661,-0.760755,0.453853,-0.388572,0.184986,...,-0.109556,-0.193149,0.175062,0.682928,0.004142,0.487003,-0.095546,-0.057309,37.40,0
70179,53748.0,1.109028,-0.318924,1.321689,0.909741,-1.207711,-0.063292,-0.795524,0.275862,1.137323,...,-0.058684,-0.021888,0.117057,0.394095,0.084751,0.331345,0.023354,0.024254,11.50,0
235352,148351.0,2.286680,-0.754426,-1.811708,-1.075001,-0.037738,-0.583203,-0.351783,-0.209570,-0.256341,...,-0.043801,-0.172003,0.152193,0.007998,0.066444,-0.264523,-0.053400,-0.066687,10.00,0
115935,74079.0,-1.055826,1.216479,1.455981,-0.075456,-0.014696,-0.691978,0.617213,0.041084,-0.100367,...,-0.246413,-0.419849,0.134202,0.386948,-0.169353,0.091932,0.504346,0.263605,8.99,0
224999,144056.0,-1.221043,1.769340,-2.302853,-1.884605,2.858615,3.105891,0.288809,0.985962,0.980861,...,-0.514290,-1.038709,0.171835,0.569344,-0.117017,0.191543,0.879874,0.434513,2.28,0

In [76]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [77]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [78]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93777.144309,0.182573,-0.075484,0.080834,0.080347,-0.082985,-0.040799,-0.007615,0.013411,-0.024389,...,-0.041338,-0.061660,-0.030168,0.029474,0.02571,-0.020015,-0.016947,-0.029607,-0.008147,85.982520
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [79]:
#splitting the data into features and targets

X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [80]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
270697  164214.0  2.032776 -0.046887 -1.638821  0.190064  0.487661 -0.760755
70179    53748.0  1.109028 -0.318924  1.321689  0.909741 -1.207711 -0.063292
235352  148351.0  2.286680 -0.754426 -1.811708 -1.075001 -0.037738 -0.583203
115935   74079.0 -1.055826  1.216479  1.455981 -0.075456 -0.014696 -0.691978
224999  144056.0 -1.221043  1.769340 -2.302853 -1.884605  2.858615  3.105891
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
270697  0.453853 -0.388572  0.184986  ... -0.035070 -0.109556 -0.193149
70179  -0.795524  0.275862  1.137323  ... -0.236631 -0.058684 -0.021888
235352 -0.351783 -0.209570 -0.256341  ... -0.081643 -0.043801 -0.172003
115935  0.617213  0.041084 -0.100367  ...  0.314256 -0.246413 -0.419849
224999  0.288809  0.985962  0.980861  ...  0.814995 -0.514290 -1.038709
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
270697  0.175062  0.682928  0.004142  0.487003 -0.095546 -0.057309   37.40
70179   0.117057  0.394095  0.084751  0.331345  0.023354  0.024254   11.50
235352  0.152193  0.007998  0.066444 -0.264523 -0.053400 -0.066687   10.00
115935  0.134202  0.386948 -0.169353  0.091932  0.504346  0.263605    8.99
224999  0.171835  0.569344 -0.117017  0.191543  0.879874  0.434513    2.28
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [81]:
print(Y)

270697    0
70179     0
235352    0
115935    0
224999    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [83]:
#split the data into training data and testing data

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, stratify=Y, random_state=2)

In [84]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [85]:
print(Y.shape,Y_train.shape,Y_test.shape)

(984,) (787,) (197,)

In [86]:
#MODEL TRAINING
#LOGISTIC REGRESSION

model= LogisticRegression()

In [88]:
#training the logistic regression model with training data

model.fit(X_train,Y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [89]:
#MODEL EVALUATUION

#ACCURACY SCORE

In [90]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [91]:
print('Accuracy on Training data : ',training_data_accuracy)

Accuracy on Training data :  0.9466327827191868

In [92]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [94]:
print('Accuracy on Test data : ',test_data_accuracy)

Accuracy on Test data :  0.949238578680203